/*Estilos CS*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body main {
    background-color: #131110;
    
  }

  .rock-salt-regular {
        font-family: "Rock Salt", cursive;
        font-weight: 400;
        font-style: normal;
        }

    .slider {
        background-image: url(../img/background.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    nav .active {
      background-color: rgb(119, 0, 0);
      border-radius: 20px;
    }

    body h1 {
        text-align: center;
        color: white;
        padding: 30px;
        font-family: Rock Salt;
    }

     body h2 {
        text-align: center;
        color: #930a06;
        padding: 10px;
        
    }

    

    .float-right {
      float: right;
    }


    li {
        padding: 10px;
    }

    .sobre p {
        border: 1px solid rgb(119, 0, 0);
        padding: 10px;
        margin: 30px;
        border-radius: 10px;
        font-size: 20px;
        color: white;
    }

    .img-fluid {
      width: 100vh;
      border-radius: 30px;
      margin-top: 40px;
      align-content: center;
      justify-content: center;
      
    }
    .row  {
      background: #131110;
    }

    
    .junte-se {
        border: 1px dotted rgb(161, 161, 2);
        padding: 40px;
        color: white;
        border-radius: 10px;
        font-size: 30px;
        text-align: center;
        margin: 10px;
        
        
        
    }


    .button {
      text-align: center;
      padding: 40px;
      margin: 20px;
    }

    
    .fa-arrow-right {
      font-size: 100px;
      margin: 80px;
      margin-left: 200px;
      padding: 10px;
      
    }

    .btn:hover {
      cursor: url(../img/Dug-Rock-On.svg), auto;
    }

    .footer-1 {
        color: white;
        padding: 10px;
    }

    .footer-1 a {
        text-decoration: none;

    }

    
    
   